@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root{
    --branco: #ffffff;
    --azul: #0418E0;
    --verde: #41E06E;
    --vermelho: #E04141;
    --amarelo: #E0BE41;
    --vinho: #8F4D4D;
    --cinza: #4D4E61;
    --botao-ativo: rgba(4, 24, 224, 1);
    --botao-ativo: rgba(65, 224, 110, 1);
    --botao-ativo: rgba(224, 65, 65, 1);
    --botao-ativo: rgba(224, 190, 65, 1);
    --botao-inativo: rgba(4, 24, 224, 0.5);
    --botao-inativo: rgba(65, 224, 110, 0.5);
    --botao-inativo: rgba(224, 65, 65, 0.5);
    --botao-inativo: rgba(224, 190, 65, 0.5);

}
body{
    background-color: var(--cinza);
    color: var(--branco);
    font-family: 'Chakra Petch' , 'Dancing Script';
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}
.titulo-principal span{
    color: var(--verde);
}

.botao{
    font-family: 'Chakra Petch' , 'Dancing Script';
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
}
.botao:first-child{
    border-radius:  40px 0 0 0;
}
.botoes{
    display: block;
}
@media screen and (min-width: 768px){
    .botoes{
        display: flex;
    }
    .botao:last-child{
        border-radius: 0 40px 0 0;
    }
}
